!!! 5
html(lang="en")
	head
		title hello
		link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
		link(rel="stylesheet", href="/stylesheets/bootstrap.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/index-specific-style.css")
		
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="/javascripts/application.js")
		script(type="text/javascript", src="/javascripts/bootstrap.js")
		script(type="text/javascript", src="/javascripts/rails.js")
	body
		h1 username 
			small You're logged in!
